@import "config";
@import "menu";
@import url("https://fonts.googleapis.com/css?family=Raleway:200,100,400");

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    text-align: center;
    font-size: 6rem;
    border-bottom: 2px solid $secondary-color;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // min-height using calc to make a sticky footer
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.5rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;

    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "topabout topabout topabout"
    "job1 job2 job3"
    "job4 job4 job4";
  grid-template-columns: repeat(3, 1fr);

  .top-about {
    background: lighten($primary-color, 5);
    grid-area: topabout;
    display: grid;
    grid-template-areas:
      "bioimage progbar progbar"
      "bio progbar progbar";
    grid-template-columns: repeat(3, 1fr);
  }

  .bar-container {
    grid-area: progbar;
    align-self: center;
    margin-right: 2px;
    h3 {
      text-align: center;
      color: $secondary-color;
    }

    .rotate-text {
      text-align: center;
      font-size: 2rem;
      color: $secondary-color;
    }
  }
  .bar-base {
    position: relative;
    height: 30px;
    width: 100%;
    color: #333;
    background-color: $primary-color;
    margin-bottom: 5px;
  }

  .bar-color-base {
    position: absolute;
    font-size: 1rem;
    text-align: center;
    height: 30px;
    color: #fff;
    background-color: $secondary-color;
    animation: progressBar 0.3s steps(200) 0s 1 normal both;
  }

  .bar-color {
    position: absolute;
    margin-left: 15%;
    text-align: center;
    height: 30px;
    color: #fff;
    background-color: darken($secondary-color, 20);
    animation: progressBar 1s steps(200) 0s 1 normal both;
  }

  @keyframes progressBar {
    0% {
      width: 0;
    }
  }

  @keyframes fade {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    margin: 1rem;
    grid-area: bio;
    font-size: 1rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job-4 {
    grid-area: job4;
    text-align: center;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;

    h3 {
      background: darken($primary-color, 5);
      text-align: center;
      border: 1px darken($secondary-color, 15) solid;
    }

    h6 {
      margin: 0.5rem;
      font-weight: bolder;
      font-size: 15px;
    }

    .desc {
      margin: 0.5rem;
      font-size: 13px;
    }
  }
}

// Work / Projects

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);

      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Button Styles
.btn {
  display: block; // it will have its own line
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
    transition: all 0.5s ease-out;
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile"; // Media queries, to change the layout if the browser changes
